.slider {
  margin-left: 1.768vw;
  @include sp { 
    margin-left: 0;
  }
  &__conteiner {
    width: 27.04vw;
    height: 33.8vw;
    margin-top: 3.64vw;
    z-index: 3;
    margin-right: 1.56vw;
    margin-left: 1.56vw;
    @include tab {
      width: 41.4036vw;
      height: 54.423vw;
      margin-left: 4.166vw;
    }
    @include sp {
      width: 82.646vw;
      height: 111.438vw;
      margin-top: 16.529vw;
      margin-left: 2.666vw;
      margin-right: 2.666vw;
    }
  }
  &__Img {
    width: 27.04vw;
    height: 16.268vw;
    background: #7B7D81;
    text-align: center;
    line-height: 16.268vw;
    font-size: 3.952vw;
    font-family: $font-en;
    color: #FFFFFF;
    @include tab {
      width: 41.403vw;
      height: 23.436vw;
      font-size: 4.9476vw;
      line-height: 23.436vw;
    }
    @include sp {
      width: 82.646vw;
      height: 47.988vw;
      font-size: 10.13vw;
      line-height: 47.988vw;
    }
  }
  &__card {
    background: #F7F7F7;
    width: 27.04vw;
    height: 17.52vw;
    @include tab {
      width: 41.403vw;
      height: 30.987vw;
    }
    @include sp {
      width: 82.646vw;
      height: 63.45vw;
    }
  }
  &__name {
    display: flex;
    justify-content: flex-start;
  }
  &__nameText {
    font-size: 1.456vw;
    font-family: $font-jp;
    font-weight: bold;
    line-height: 1.28;
    padding-top: 2.142vw;
    padding-left: 2.34vw;
    @include tab {
      font-size: 2.604vw;
      padding-top: 2.981vw;
      padding-left: 3.645vw;
    }
    @include sp {
      font-size: 5.332vw;
      padding-top: 6.105vw;
      padding-left: 6.665vw;
    }
  }
  &__cardIcon {
    width: 1.79vw;
    height:1.456vw;
    margin-top: 2.142vw;
    margin-left: 1.045vw;
    @include tab {
      width: 2.604vw;
      height: 2.117vw;
      margin-top: 3.372vw;
      margin-left: 2.187vw;
    }
    @include sp {
      width: 5.332vw;
      height: 4.334vw;
      margin-top: 7.104vw;
      margin-left: 4.265vw;
    }
  }
  &__position {
    font-size: 0.936vw;
    color: #7B7D81;
    font-family: $font-jp;
    padding-top: 0.312vw;
    padding-left: 2.34vw;
    font-weight: 600;
    @include tab {
      font-size: 1.562vw;
      padding-top: 0.52vw;
      padding-left: 3.645vw;
    }
    @include sp {
      font-size: 3.199vw;
      padding-top: 1.066vw;
      padding-left: 6.665vw;
    }
  }
  &__cardText {
    padding-top: 1.768vw;
    padding-left: 2.34vw;
    padding-right: 2.34vw;
    font-size: 0.832vw;
    font-family: $font-jp;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2.25;
    @include tab {
      font-size: 1.82vw;
      padding-top: 1.953vw;
      padding-left: 3.645vw;
      padding-right: 3.645vw;
      line-height: 1.9;
    }
    @include sp {
      font-size: 3.732vw;
      padding-top: 3.999vw;
      padding-left: 6.665vw;
      line-height: 1.5;
    }
  }
}

